# Ignore temporary and log files
*~
*.py[co]
__pycache__/
Log.out
*.fastq.gz
# Ignore files downloaded from elsewhere
genome/mm10-M21-male/gencode.vM21-tRNAs-ERCC.gff
genome/mm10-M21-male/mm10-M21-ercc+phix.fa
# Ignore cell ranger index directory
genome/mm10-M21-male/mm10-M21-male-cellranger-3.1.0/
# Ignore cellranger directory. Important results are in synapse
ENCSR874BOF_e10_5_limb/ENCSR874BOF-10x-e10_5-count-cells10000/
# Ignore kallisto index
genome/mm10-M21-male/mm10-M21-male-kallisto-0.46.2.idx
# Ignore star index
genome/mm10-M21-male/Genome
genome/mm10-M21-male/SA
genome/mm10-M21-male/SAindex
genome/mm10-M21-male/chrLength.txt
genome/mm10-M21-male/chrName.txt
genome/mm10-M21-male/chrNameLength.txt
genome/mm10-M21-male/chrStart.txt
genome/mm10-M21-male/exonGeTrInfo.tab
genome/mm10-M21-male/exonInfo.tab
genome/mm10-M21-male/geneInfo.tab
genome/mm10-M21-male/genomeParameters.txt
genome/mm10-M21-male/sjdbInfo.txt
genome/mm10-M21-male/sjdbList.fromGTF.out.tab
genome/mm10-M21-male/sjdbList.out.tab
genome/mm10-M21-male/transcriptInfo.tab
# Ignore ipython checkpoints
.ipynb_checkpoints/
